@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:wght@400;700&family=Poppins&display=swap');
.header_logo {
    font-family: Abel, sans-serif;
    font-size: 32px;
    line-height: 46px;
    color: #313053;
    text-align: left;
}
.menu {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #313053;
    text-align: center;
  
}
.header_button {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #313053;
}
h1 {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 46px;
    color: #313053;
    text-align: center;
}
.block_title {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 46px;
    color: #313053;
    text-align: center;
}
h3 {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #313053;
    text-align: center;
}
p.price {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #313053;
    text-align: center;
}
p.subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #313053;
    text-align: center; 
}
p.contact_info {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #313053;
    text-align: center;
}
p.text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 26px;
    color: #817e8f;
}
.form_button {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 22px;
    color: black;
    text-align: center;
}
.form_input {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 22px;
    color: #817e8f;
    text-align: left;
}