@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:wght@400;700&family=Poppins&display=swap'); 

:root {
    scroll-behavior: smooth;
    --main-color: #313053; }

body {
    background: linear-gradient(0deg, #ffffff 0%, #f8f8f8 100%);
    max-width: 980px;
    margin: auto;
}

header .menu {
    flex-direction: column;
}

@media (min-width: 610px) {
    header nav {
        display: flex;
    }

    header .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
        margin-top: -5px;
        padding-top: 30px;
        padding-bottom: 120px;
        width: 100%;
    }
}

header .menu a {
    text-decoration: none;
    padding: 7px;
    color: var(--main-color);
}

header .menu a:hover {
    color: #ffa5c0;
}

.header_logo {
    font-family: Abel, sans-serif;
    font-size: 32px;
    line-height: 46px;
}

.menu {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: var(--main-color);
    font-size: 16px;
    color: var(--main-color);
    text-align: center;
}

h1, .block_title {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 46px;
    color: var(--main-color);
    text-align: center;
}

h3 {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: var(--main-color);
    text-align: center;
}

@media (min-width: 768px) {
    #bloomy_solutions {
        padding-top: 75px;
        padding-bottom: 60px;
    }
}

.what_we_create {
    grid-gap: 4vw;
    text-align: center;
    justify-content: center;
}

@media (min-width: 660px) {
    .what_we_create {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
    }
}

@media (min-width: 800px) {
    .what_we_create {
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
    }
}

#about_us {
    padding-top: 50px;
    padding-bottom: 75px;
}

.about_us {
    grid-gap: 2vw;
    justify-content: space-between;
}

@media (min-width: 660px) {
    .about_us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
    }
}

@media (min-width: 660px) {
    .product_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3vw;
    }
}

@media (min-width: 800px) {
    .product_list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3vw;
        margin-top: 30px;
    }
}

p.price {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-color);
    text-align: center;
}

p.subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--main-color);
    text-align: center;
}

p.contact_info {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--main-color);
    text-align: center;
}

p.text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #817e8f;
}

[type='text'] {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #817e8f;
}

.contact_icon {
    height: 30px;
    width: 30px;
}

.why_us_img {
    height: 570px;
    width: 593px;
    object-fit: cover;
}

.seasonal_composition {
    height: 449px;
    width: 354px;
    object-fit: cover;
}

.media_overlay {
    height: 370px;
    width: 330px;
    object-fit: cover;
}

.media_overlay:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

.slider_1, .slider_2, .slider_3 {
    height: 555px;
    width: 1040px;
    object-fit: cover;
}

#bloomy_solutions {
    background: url(../img/bloomy_solution_background.png) no-repeat;
    max-width: 980px;
}

#why_us {
    background: url(../img/why_us_background_img.png) no-repeat;
}

#compositions {
    background-image: url(../img/compositions_background.png);
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 980px;
}

.write_us {
    background-image: url(../img/send_flovers_bg.png);
}

.services {
    background-image: url(../img/additional_services_bg.png);
}

#order {
    background-image: url(../img/why_us_background_img.png);
}

button, [type='submit'], .header_button {
    background-color: #ffa5c0;
    border: none;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white !important;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
